<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <title>Editar Eventos</title>
</head>
<body>
<h1>Editar Evento</h1>

<form action="{{ url_for('updateevent', id=task.task_id) }}" method="post">
    <input type="hidden" name="id" value="{{task.task_id}}">
    <label for="nome">Nome do Evento:</label>
    <input type="text" id="nome" name="nome" value="{{task.task_name}}">
    <br><br>
    <label for="data">Data do Evento:</label>
    <input type="date" id="data" name="data" value="{{task.task_date}}">
    <br><br>
    <label for="desc">Descrição:</label>
    <input type="text" id="desc" name="desc" value="{{task.task_description}}">
    <br><br>
    <input class=" btn btn-primary" type="submit" href="{{ url_for('calendar') }}" value="Registrar Evento">
    <a class="btn btn-danger" href="{{ url_for('calendar') }}">Cancelar</a>
</form>

</body>
</html>