<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <title>Calendario</title>
</head>
<body>
<div>
    <h1>Cadastro de Eventos no Calendario</h1>
    <a class="btn btn-dark" href="{{ url_for('cadastro') }}">Cadastro</a>
    <br><br>
    <a class="btn btn-dark" href="{{ url_for('login') }}">Login</a>
    <br><br>
    <a class="btn btn-success" href="/api/ui">Swagger</a>
    <br><br>
    <a class="btn btn-link" href="https://nickolaslivero.github.io/FlaskCalendarDocumentation/">Saiba mais sobre a documentação</a>
</div>
</body>
</html>